*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.titulo{
    width: 100%;
    text-align: center;
    min-width: 300px;
}

.presentacion{
    width: 100%;
    text-align: center;
    min-width: 300px;
}

.numero h1{
    font-size: 4rem;
}

.candidato{
    margin: 20px;
}

#nro_candidato{
    font-size: 4rem;
    text-align: center;
}

.tablero{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    min-width: 350px;
    height: 300px;
    background-color: aquamarine;
}

.btnTablero{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex: 0 0 33%;
    border: 1px solid black;
    font-size: 3rem;
    text-align: center;
}